<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MicrosoftAccountEnabled" value="false" />
    <add key="CRMVersion" value="onprem" />

    <add key="ida:Tenant" value="microsoft.onmicrosoft.com" />
    <add key="ida:AadInstance" value="https://login.windows.net/common/oauth2/authorize{0}" />
    <add key="ida:ClientId" value="0da10fe6-a782-4c00-8a01-aedcda39a23e" />
    <add key="ida:CrmResourceURL" value="https://azcrmuextwb01.partners.extranet.microsoft.com/OnePayrollUAT041115/" />
    <add key="ida:User" value="redmond\ccrmdeva" />
    <add key="ida:Password" value="C!0udcrmA((0unt" />
    <add key="EntityName" value="Contact" />
    <add key="CrmSecondPrimaryKey" value="EmployeeId" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>